#inijudulunik {
  font-size: 100px;
  font-family: sans-serif;
  font-weight: 200;
  text-decoration: line-through;
  color: white;
  background-color: red;
}
button {
  border: 2px solid red;
}
.login-aja {
  background: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.logout-bang {
  background: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
#ini-unik {
  color: red;
  border: 1px solid blue;
}
span {
  background-color: red;
}
